/windows/x64
/sa-solver.pdb
/sa-solver.v12.suo
/sa-solver.exp
/sa-solver.lib
/.hg/
/.hgignore
/sa-solver
/_kernel.h
*.o
_temp_*
*.swp
*.tmp
*.pyc
tags
windows/silentarmy.VC.db
windows/silentarmy.VC.VC.opendb
sa-solver.iobj
sa-solver.ipdb
windows/dist
windows/build
windows/Program.spec
windows/silentarmy.spec
sa-solver.exe
windows/.vs/silentarmy/v14/.suo
